

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.empacoHeading .row{
    max-width:100% !important;
}
.bills .row{
    max-width:100% !important;
}

.brand-heading{
    font-size: 70px !important;
}

.bill-section .row{
    max-width:100% !important;
}

button.btn.billButtons {
    width: 50%;
    height: 80px;
    margin-bottom: 100px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 60px;
}

.billButtons a{
 color:white;
}

.bills a{
    color:white;
}

.playCircle{
    margin-right: 15px;
}

.side-navigation{
    width: 40%;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 40px;
    border-left: 1px solid white;
}

.navbar-brand{
    margin-bottom: 15px;
}

.side-navigation a{
    color:white;
}

#actions-sidebar {
    background: black;
    border-right: 1px solid white;
}

.side-nav li a:not(.button) {
    color:white;
    margin-top:40px;
}

.side-nav li{
    font-size:15px;
}

table thead tr {
    border-bottom: 1px solid white !important;
}

table tr th {
    border-bottom: 1px solid white !important;
}

.billTable a{
    font-size: 15px;
}

.bottom.paginator a{
    color:white;
    background-color:transparent;
}

legend{
    display: none;
}

.bills{
    padding-top:50px;
}

.bills input{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

form label{
    font-size: 16px;
    color: white;
}